# Frontend
streamlit
streamlit-aggrid
streamlit-authenticator
PyYAML
types-PyYAML

# Backend
pandas
plotly
sqlalchemy

# Scraping
tenacity # リトライ実装
beautifulsoup4
# chromedriver_binary== # 要バージョン確認
pymupdf
selenium

# Code Formatter
# flake8
# black
# isort
# mypy