# Frontend
streamlit
streamlit-aggrid

# Backend
pandas
plotly
sqlalchemy

# Scraping
tenacity # リトライ実装
beautifulsoup4
# 要バージョン確認
# chromedriver_binary==
pymupdf
selenium

# Code Formatter
# flake8
# black
# isort
# mypy